@model EditorTemplateExample.Models.Session

<tr>
    <td>@Html.CheckBoxFor(m => m.IsSignedUp)</td>
    <td>@Html.DisplayFor(m => m.Name)</td>
    <td>@Html.DisplayFor(m => m.Cost)</td>
</tr>

@Html.HiddenFor(m => m.Cost)
@Html.HiddenFor(m => m.SessionID)
@Html.HiddenFor(m => m.Name)